<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myself, Ingaavu</title>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css"> 
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"> <i class="book icon"></i>Myself, Ingaavu</div>
            <a href="/" class='item'> Home </a>
            <a href="/blogs/new" class="item">New post</a>
        </div>
      </div>
    
